h2 {
    color: black;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 2rem;
    margin-left: 17rem;
}

h3 {

    color: black;
    font-size: 3rem;
    font-weight: 400 rem;
    margin-left: 21rem;
}