@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/* font-family: 'Roboto', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  opacity: 0;
  transition: 0.3s;
  background-color: #f0f0f0;
}

/*-------------------------------header---------------------------------*/

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 10px 20px #00000011;
}

.logo {
  width: 160px;
  margin-left: 20px;
  padding: 4px;
}

.logo:hover {
  transform: scale(1.04);
  transition: 0.3s;
}

header ul li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

.link:hover {
  padding: 5px 0;
  border-bottom: 2px solid #dd2a1d;
  transition: 0.3s;
}

.active-page {
  padding: 5px 0;
  border-bottom: 2px solid #dd2a1d;
}

.btn-contact {
  background: none;
  font-size: 20px;
  padding: 4px 12px;
  border: 1px solid #dd2a1d;
  margin-right: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-contact:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 10px #00000023;
  transition: 0.3s;
}

/*--------------------------------main--------------------------------*/
.main {
  margin-top: 60px;
  padding: 50px 200px;
}

/*--------------------------------container 1--------------------------------*/

.flex-div {
  display: flex;
}

.flex-child {
  height: 700px;
}

.welcome-div {
  flex-grow: 1;
  text-align: center;
}

.welcome-text {
  margin: 0 auto;
  font-size: 54px;
  margin-bottom: 200px;
}

.short-description {
  width: 600px;
  margin: 0 auto;
  font-size: 18px;
  text-align: justify;
}

.btn-read-more {
  font-size: 20px;
  padding: 4px 12px;
  margin: 20px auto;
  width: 100%;
  border: 1px solid #dd2a1d;
  margin-right: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-read-more:hover {
  background-color: #dd2a1d;
  color: #fff;
}

/*--------------------------------phone--------------------------------*/

.slide-div {
  flex-grow: 1;
}

.slider-images {
  width: 220px;
  margin: 0 auto;
}

.iphone {
  width: 100%;
  height: 100%;
  display: none;
}

.img-controller {
  display: flex;
  overflow: hidden;
  justify-content: center;
  height: 40px;
}

.btn-preview,
.btn-next {
  margin: 0 10px;
  cursor: pointer;
  text-align: center;
  color: #c2c2c2;
  font-size: 26px;
  font-weight: bolder;
  initial-letter-align: center;
}

.btn-imgIndex {
  height: 22px;
  width: 22px;
  background: #c2c2c2;
  margin: auto 10px;
  border-radius: 50px;
  border: 4px solid #c2c2c2;
  cursor: pointer;
}

.active-btn {
  background: #5a5a5a;
  transition: 0.6s;
}

/*--------------------------------client--------------------------------*/
.clients {
  text-align: center;
  background-color: #ffffff;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 10px 20px #00000013;
  padding: 2rem;
  margin-bottom: 100px;
}

.all-clients {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.client-icon {
  width: 50px;
  height: 50px;
}

/*--------------------------------about us--------------------------------*/
.about-us {
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
}

.www-img {
  margin: 0 auto;
  width: 100%;
  display: block;
}

/*--------------------------------about us--------------------------------*/
footer {
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background-color: #ffffff;
  border-top: 1px solid #dd2a1d;
  text-align: center;
}
