<!DOCTYPE html>
<html lang="sv">
  <head>
    <title>Tjänster</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.0.96/css/materialdesignicons.min.css" integrity="sha512-fXnjLwoVZ01NUqS/7G5kAnhXNXat6v7e3M9PhoMHOTARUMCaf5qNO84r5x9AFf5HDzm3rEZD8sb/n6dZ19SzFA==" crossorigin="anonymous" referrerpolicy="no-referrer">
  
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/tjanster.css">
    <script src="js/script.js" defer></script>


  </head> 
  <body onload="activePage(3)">
    <header>
      <div class="header">
        <div class="d-mobile">
          <div>
            <img
              class="logo"
              src="images/logo.png"
              alt="logo"
              onclick="location.href='index.html'">
          </div>
          <div class="menu-bar">
            <a class="material-symbols-outlined" onclick="responsiveMenu()"
              >Menu</a>
          </div>
        </div>
        <div class="nav-link">
          <ul id="linkList" class="link-List d-none">
            <li>
              <a class="link" href="index.html">
                <i class="mdi mdi-home"></i>
                home</a
              >
            </li>
            <li>
              <a class="link" href="team.html">
                <i class="mdi mdi-account-group"></i>
                Vårt Team</a
              >
            </li>
            <li>
              <a class="link" href="tjanster.html">
                <i class="mdi mdi-cart-plus"></i>
                Tjänster</a
              >
            </li>
            <li>
              <div class="nav-link-btn d-block-mobile">
                <a href="kontakt.html" class="btn-contact">Kontakta Oss</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="nav-link-btn d-block-pc">
          <a href="kontakt.html" class="btn-contact">Kontakta Oss</a>
        </div>
      </div>
    </header>

  
    <div id="app">

      <div class="top-bar spread">
        <a @click="toggleSidebar" class="top-bar-cart-link">
          <i class="icofont-cart-alt icofont-1x"></i>
          <span class="material-symbols-outlined">
            shopping_cart
            </span> <span>Vagn ({{totalQuantity}})</span>
        </a>
      </div>


      <main class="wrapper1">

        <h2>Services</h2>
       
        <blockquote>
          At Mr. Developer, we have the experience and staying power
           youre looking for in a web development partner. 
           Unlike others, we dont just say, we deliver. We help you delight 
           your customers at each touchpoint with a uniform digital experience.
           We deliver powerful products using the right mix of front and back-end technologies.
        </blockquote>
        <br>

        <div class="container11">
          <div class="left1">
            <img src="images/icon2.png" alt="">
          <h2>On-demand Teams</h2>
          <blockquote>
            Our on-demand teams are
             instantly available to cater
            to the ad-hoc demands
             of businesses. 
            We provide highly 
            talented developers that
             follow best coding practices
              and established methodologies.
          </blockquote>
          </div>
          <div class="center1">
            <img src="images/icon1.png" alt="">
          <h2>Maintenance & Support Teams</h2>
          <blockquote>
            Our maintenance & support teams provide comprehensive
               support for your product and have expertise in taking your 
               product through a series of stable releases
                by adding new functionalities. We help you with everthing you need.
          </blockquote>
          </div>
          <div class="right1">
            <img src="images/icon3.png" alt="">
          <h2>Full-stack Teams</h2>
          <blockquote>
            Our dedicated team of full-stack developers provides 
              end-to-end solutions for your product 
              development needs. Our developers are highly 
              flexible to work according to your changing priorities.
          </blockquote>
          </div>
         

     

        <div class="recommended">

          <div v-for="(product, i)  in inventory.slice(0,3)" :key="product.id" class="card">
            <div class="card-title">
              {{  product.name }} 
            </div>
            <div class="card-body">
              <i class="icofont-10x icofont-{{ product.img }}"></i>
              <form>
                <div class="row1">
                  <div class="cell">
                    <label>Typ:</label>
                  </div>
                  <div class="cell">
                    <em>{{ product.type }}</em>
                  </div>
                </div>
                <div class="row1">
                  <div class="cell">
                    <label>Pris:</label>
                  </div>
                  <div class="cell">
                    {{ product.price.kr }} kr
                  </div>
                </div>
                <div class="row1">
                  <div class="cell">
                    <label>Styck:</label>
                  </div>
                  <div class="cell">
                    <input type="number" v-model.number="product.quantity">
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer">
              <button @click="addToCart(product.name, i)" class="btn btn-light">
               Lägg till vagn
              </button>
            </div>
          </div>
        </div>
      </div>
      </main>

 <sidebar
 v-if="showSidebar"
 :toggle="toggleSidebar"
 :cart="cart"
 :inventory="inventory"
 :remove="removeItem">
      <footer>
      </footer>

    <script src="https://unpkg.com/vue@3"></script>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            showSidebar: true,
            inventory: [],
            cart: { }
          }
        },
        computed: {
          totalQuantity() {
            return Object.values(this.cart).reduce((acc, curr) =>{
              return acc + curr
            }, 0)
          }
        },
        methods: {
          addToCart(name, index) {
            if (!this.cart[name] ) this.cart[name] = 0
            this.cart[name] += this.inventory[index].quantity
            this.inventory[index].quantity = 0
            console.log(this.cart)
          },
          toggleSidebar() {
            this.showSidebar = !this.showSidebar
          },
          removeItem(name){
            delete this.cart [name]
          }
        },
        async mounted() {
          const res = await fetch('js/produkter.json')
          const data = await res.json()
          this.inventory = data
        },
      })

app.component('sidebar', {
  props: ['toggle', 'cart', 'inventory', 'remove'],

  methods: {
    getPrice(name) {
     const product =  this.inventory.find((p) => {
        return p.name === name
      })
      return product.price.kr
    },
    calculateTotal() {
  const total = Object.entries(this.cart).reduce((acc, curr, index) => {
return acc + (curr[1] * this.getPrice(curr[0]))
  }, 0)
  return total.toFixed(2)
}
  },
  template:  `
  <aside class="cart-container">
        <div class="cart">
          <h1 class="cart-title spread">
            <span>
              Vagn
              <i class="icofont-cart-alt icofont-1x"></i>
            </span>
            <button @click="toggle" class="cart-close">&times;</button>
          </h1>

          <div class="cart-body">
            <table class="cart-table">
              <thead>
                <tr>
                  <th><span class="sr-only"></span></th>
                  <th> Produkt-</th>
                  <th> Pris-</th>
                  <th> St-</th>
                  <th> Total-</th>
                  <th><span class="sr-only">Ta bort</span></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(quantity, key, i) in cart" :key="i">
                  <td><i class="icofont-carrot icofont-3x"></i></td>
                  <td>{{ key }}</td>
                  <td>{{ getPrice (key) }}</td>
                  <td class="center">{{ quantity }}</td>
                  <td> {{ quantity * getPrice(key) }} kr</td>
                  <td class="center">
                    <button @click="remove(key)"class="btn btn-light cart-remove">
                      &times;
                    </button>
                  </td>
                </tr>

              </tbody>
            </table>
            <br>
            <p class="center" v-if="!Object.keys(cart).length"><em>Ingen produkt i Vagn</em></p>
            <div class="spread">
              <span><strong>Total:</strong> {{ calculateTotal() }}kr</span>
              <a href="tjanster-tack.html">
              <button class="btn btn-light">Betala</button>
              </a>
            </div>
          </div>
        </div>
      </aside>
      `
})


      app.mount('#app')
    </script>
  </body>
</html>
