textarea {
  width: 400px;
  height: 200px;
  padding: 10px;
  background: none;
  border: 2px solid #fb0606;
  border-radius: 10px;
}

.container-contact {
  min-height: calc(100vh - 70px);
}

.container-contact input[type="text"] {
  width: 300px;
  height: 25px;
  padding-left: 10px;
  background: none;
  border: 2px solid #fb0606;
  border-radius: 10px;
}

select {
  width: 300px;
  height: 30px;
  padding-left: 10px;
  background: none;
  border: 2px solid #fb0606;
  border-radius: 10px;
}

.btn-style1 input[type="submit"] {
  width: 200px;
  height: 25px;
  margin: 3px;
  font-size: 15px;
  background: none;
  border: 2px solid #fb0606;
  border-radius: 10px;
}

.btn-style1 input[type="submit"]:hover {
  background-color: #fb0606;
}

.info-colm {
  max-width: 300px;
  font-size: 15px;
  padding: 10px;
  border: 2px solid #fb0606;
  border-radius: 10px;
  margin: 10px;
}

.container-contact {
  margin-left: 10px;
}
