.p-preview {
  height: calc(100vh - 70px);
  background: rgb(240, 240, 240);
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 70%,
    rgba(228, 228, 228) 70%,
    rgba(228, 228, 228) 100%
  );
}

.profile {
  text-align: center;
  padding: 50px;
}

.p-picture {
  width: 250px;
  border-radius: 300px;
  margin: 20px auto;
}

.p-text {
  height: 120px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.profile div {
  margin-top: 50px;
}

.btn-about-member {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 8px 12px;
  border: 1px solid #dd2a1d;
  background-color: #ffffff;
  box-shadow: 0 7px 10px #0000001f;
  border-radius: 7px;
  cursor: pointer;
}

.btn-about-member:hover {
  background-color: #dd2a1d;
  color: #fff;
  transition: 0.3s;
}

.about-member {
  width: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 5rem 10%;
  display: grid;
  justify-content: space-evenly;
  align-items: center;
}

.skills {
  height: 320px;
  margin-top: 50px;
  border-left: 2px solid #dd2a1d;
}

.bar-BG {
  height: 30px;
  display: flex;
  margin: 40px 0;
}

.bar {
  border-radius: 0 10px 10px 0;
  height: 100%;
  background-color: #e4e4e4;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-direction: reverse;
}

.bar-BG p {
  margin: 6px;
  color: #dd2a1d;
}

.percent {
  opacity: 100%;
  animation-duration: 3s;
}

.opacity-anim {
  animation-name: opacity;
}

@keyframes opacity {
  0% {
    opacity: 0%;
  }
  98% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
