@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/* font-family: 'Roboto', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  opacity: 0;
  transition: 0.3s;
  background-color: #f0f0f0;
  overflow-x: hidden;
}

/*-------------------------------header---------------------------------*/

header {
  width: 100%;
}

.header {
  position: relative;
  height: 70px;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0 10px 20px #00000011;
}

.d-block-mobile,
.menu-bar {
  display: none;
}
.d-block-pc {
  display: block;
}

.logo {
  width: 160px;
  margin-left: 20px;
  padding: 4px;
}

.logo:hover {
  transform: scale(1.04);
  transition: 0.3s;
}

header ul li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}
header ul li a {
  font-size: 16px;
  display: inline-block;
}
header ul li a i {
  font-size: 20px;
}
a:link,
a:visited {
  text-decoration: none;
  color: black;
}

.link:hover {
  padding: 5px 0;
  border-bottom: 2px solid #dd2a1d;
  transition: 0.3s;
}

.active-page {
  padding: 5px 0;
  border-bottom: 2px solid #dd2a1d;
}

.btn-contact {
  background: none;
  font-size: 18px;
  padding: 8px 12px;
  border: 1px solid #dd2a1d;
  margin-right: 20px;
  border-radius: 7px;
  cursor: pointer;
}

.btn-contact:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 10px #00000023;
  transition: 0.3s;
}

/*--------------------------------main--------------------------------*/
.main {
  padding: 0;
}

/*--------------------------------container 1--------------------------------*/

.flex-div {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: space-evenly;
}

.flex-child {
  display: grid;
  justify-content: center;
  align-items: center;
}

.welcome-text {
  font-size: 60px;
}

.short-description {
  width: 600px;
  font-size: 18px;
  text-align: justify;
}

.btn-read-more {
  display: block;
  font-size: 20px;
  padding: 8px 12px;
  margin: 20px auto;
  width: 100%;
  border: 1px solid #dd2a1d;
  border-radius: 7px;
  cursor: pointer;
}

.btn-read-more:hover {
  background-color: #dd2a1d;
  color: #fff;
}

/*--------------------------------phone--------------------------------*/
.slider-div {
  width: 300px;
  float: none;
}

.iphone {
  width: 300px;
  display: none;
}

.img-controller {
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  height: 40px;
}

.btn-preview,
.btn-next {
  margin: 0 10px;
  cursor: pointer;
  text-align: center;
  color: #c2c2c2;
  font-size: 26px;
  font-weight: bolder;
}

.btn-imgIndex {
  height: 22px;
  width: 22px;
  background: #c2c2c2;
  margin: auto 10px;
  border-radius: 50px;
  border: 4px solid #c2c2c2;
  cursor: pointer;
}

.active-btn {
  background: #5a5a5a;
  transition: 0.6s;
}

.section {
  margin: 0 auto;
  padding: 2rem;
  max-width: 75rem;
  display: grid;
  justify-content: space-evenly;
  align-items: center;
}

/*--------------------------------client--------------------------------*/
.clients {
  text-align: center;
  background-color: #fff;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 0px 40px #00000020;
  padding: 2rem;
  margin: 2rem 0;
}

.slider-images {
  width: 200px;
}

.clients p {
  font-size: 20px;
  font-weight: 600;
  font-size: 16px;
}

.all-clients {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.client-icon {
  width: 50px;
}

/*--------------------------------about us--------------------------------*/
.about-us {
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
  margin-top: 0px;
}

.about-us-title {
  font-size: 25px;
  font-weight: 700;
  margin: 10px 0;
}
.about-us-text {
  font-size: 16px;
  letter-spacing: 1px;
}

.www-img {
  margin: 0 auto;
  width: 100%;
  display: block;
}

/*--------------------------------about us--------------------------------*/
footer {
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  border-top: 1px solid #dd2a1d;
  text-align: center;
}

/*--------------------------------------------------------------------------------- */
/*--------------------------------------------------------------------------------- */
/*--------------------------------------------------------------------------------- */
/*--------------------------------------------------------------------------------- */
/*--------------------------------------------------------------------------------- */
/*--------------------------------------------------------------------------------- */
/*--------------------------------------------------------------------------------- */
/*--------------------------------------------------------------------------------- */
/*--------------------------------------------------------------------------------- */
/*--------------------------------------------------------------------------------- */
/*--------------------------------------------------------------------------------- */
/*--------------------------------------------------------------------------------- */
/*--------------------------------------------------------------------------------- */
/*--------------------------------------------------------------------------------- */
/*--------------------------------------------------------------------------------- */
/*--------------------------------------------------------------------------------- */
/*--------------------------------------------------------------------------------- */
/*------------------------------ Extra large devices ------------------------------ */
@media only screen and (max-width: 1366px) {
  .welcome-text {
    font-size: 45px;
  }

  .short-description {
    width: 500px;
  }

  .slider-div {
    width: 250px;
    float: none;
  }

  .iphone {
    width: 250px;
    display: none;
  }
}

/*------------------------------ Large devices ------------------------------ */
@media only screen and (max-width: 992px) {
  .welcome-text {
    font-size: 40px;
  }

  .short-description {
    width: 400px;
  }
}

/*------------------------------Small devices ------------------------------*/
@media only screen and (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-bar {
    display: inline-block;
    padding: 8px 12px;
    margin-right: 12px;
    margin-top: 3px;
  }
  .menu-bar a {
    font-size: 30px;
    cursor: pointer;
  }
  .header {
    display: grid;
    justify-content: start;
    align-items: center;
    margin: 0;
  }

  .logo {
    width: 160px;
    margin-left: 20px;
    padding: 4px;
    display: inline-block;
  }

  .nav-link {
    margin-top: 10px;
    background-color: #fff;
    width: 100vw;
  }

  .link-List {
    display: grid;
    justify-content: center;
    align-items: center;
  } /* Change to dasplay block */

  .d-block {
    display: block;
  }
  .d-none {
    display: none;
  }

  .link-List li {
    width: 100vw;
    text-align: center;
    margin: 0;
  }

  .link-List li a span {
    display: none;
  }

  .link {
    display: inline-block;
    padding: 1rem;
    transition: none;
    text-align: center;
    width: 100vw;
    border-bottom: none;
  }
  .link:hover {
    padding: 1rem;
    border-bottom: none;
    transition: 0.3s;
    background-color: #dd2a1d;
    width: 100vw;
  }

  .nav-link-btn {
    width: 100vw;
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .btn-contact {
    display: inline-block;
    border: none;
    border-radius: 0%;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    background-color: #ffffff;
    padding: 1rem;
    width: 100vw;
    margin: 0;
  }
  .btn-contact:hover {
    transform: scale(1);
    box-shadow: none;
    transition: 0.3s;
    background-color: #dd2a1d;
    border-radius: 0;
  }
  .active-page {
    padding: 1rem;
    border-bottom: none;
    background-color: #dd2a1d;
  }

  /* ---------------------- */

  /* ------------------------------ main page in mobile view ---------------------------------- */

  .main {
    text-align: center;
    padding: 0;
    width: auto;
  }

  .flex-div {
    display: grid;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .flex-child {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .welcome-text {
    font-size: 35px;
    margin-bottom: 1rem;
  }

  .short-description {
    padding: 2rem;
    width: 100%;
  }
  .short-description {
    font-size: 16px;
  }

  .btn-read-more {
    font-size: 18px;
    padding: 8px 12px;
  }

  .slider-div {
    width: 200px;
    float: none;
  }

  .iphone {
    width: 200px;
    display: none;
  }

  .d-block-mobile {
    display: block;
  }

  .d-block-pc {
    display: none !important;
  }

  .d-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.65rem;
    min-width: 100%;
    right: 0;
    left: 0;
  }

  .all-clients {
    justify-content: space-between;
  }

  .client-icon {
    width: 25px;
  }

  .about-us-title {
    font-size: 18px;
  }
}
