.btn{
  border:0px;
  border-radius:3px;
  padding:5px 12px;
  font-weight:bold;
  float: right;
}

.btn-light:hover{
 background-color: #4775b5;
}

.row1{
  display:flex;
}

a:hover {
  cursor:pointer;
 }


.cart-container{
  position:relative;
bottom: 0px;


}
.cart-container,.cart{
  width:100%;
  display: inline-block;
}
.cart{
  padding: 10px;
  background-color: rgb(6, 6, 6);
  color:aliceblue;

}

.cart-title{
  min-height:40px;
  max-height:40px;
  border-bottom:1px solid;
  font-size:26px;
}
.cart-close{
  opacity: 70%;
  background-color: rgb(248, 242, 242);;
  border:1px;
  border-radius:3px;
  padding:0px 7px;
  color: #200;
  font-size:28px;
}

.cart-close button:hover{
background-color: #4775b5;
}

.cart-remove{
  padding:0px 7px;
  font-size:20px
}

.card{
  display: inline-block;
  width: 300px;
background-color: #5bb7ec;
padding: 40px;
  margin: 10px;
  border: 2px solid #fe0606;
  border-radius: 10px;
  margin-left: 75px;
}


  .card-body input{
      width:100px;
      padding:2px;
  }
  .card-body .cell{
      align-items:center;
      width:50%;
      min-height: 20px;
      padding:3px 4px;
  }

  .card-footer{
      margin-top:15px;
      padding:10px;
  }

  .top-bar{
color: #060400;
position: relative;
  }

    .top-bar-cart-link
      {
          display: inline-block;
          padding:5px 10px;
          font-size:17px;
          border: 1px solid #fa0606;
          border-radius: 10px;
          background-color: #f7dede;
      }


     .left1, .right1, .center1 {
        display: table;
        width: 400px;
        color: rgb(5, 5, 5);
        padding: 20px;
        border: 2px solid #fa0606;
        border-radius: 10px;
        margin: 5px 10px;
        float: left;
 
     }

     .left1 {
        background-color: rgb(241, 240, 210);
     }
     .right1 {
        background-color: rgb(186, 131, 174);
     }
     .center1 {
        background-color: rgb(125, 218, 203);
     }



